body {
	 height: 5000px;
	 margin: 0;
	 padding: 0;
}

.navbar {
	position: fixed;
	min-width: 100%;
	top: 0;
}
.navbar-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	background: #f3efef;
	margin: 0;
	padding: 0;
}

.navbar__item {
	padding: 25px;
}
.navbar__item:hover {
	background: #ccc;
}
.navbar__item a {
	text-decoration: none;
	color: #000;
}

p {
	margin-top: 100px;
}